/* styles/style.css */
.home {
    background-color: #b60f0f;
    padding: 20px;
  }
  
  .about {
    background-color: #4cb82c;
    padding: 20px;
  }
  
  .contact {
    background-color: #3522a0;
    padding: 20px;
  }

  